[submodule "third_party/spectrum"]
	path = third_party/spectrum
	url = git@github.com:myl7/spectrum.git
[submodule "third_party/express"]
	path = third_party/express
	url = git@github.com:myl7/express.git
[submodule "third_party/talek"]
	path = third_party/talek
	url = git@github.com:myl7/talek.git
